.container {
  max-width: 1400px;
  margin: 0 auto;

  .itemBar {

    height: auto;
    



    .devices {



      overflow: hidden;

      .separate {
        display: flex;
        flex-direction: column;
        .itemCount {
          display: flex;
          .name {
            font-size: 30px;
            margin-left: 10px;
          }
        }

        .itemWrapper {
          display: flex;
          flex-wrap: wrap;
        }
      }
    }



    .description {
      display: flex;
      flex-direction: column;
      border: 1px solid silver;
    }

  }

}
.filterWrapper {
  h2 {
    margin-left: 20px;
  }
  .filter {
    background: #fffeeb;
    padding: 20px;
    .wrapp {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .title {
        margin-bottom: 4px;

      }
      .description {
        margin-left: 10px;
        border:none;
        color: darkgray;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 10px;

        .item {
          display: block;
          background: #fffeeb;
          border: 1px solid silver;
          padding: 4px 10px;
          border-radius: 20px;
          margin: 2px;
          display: flex;
          align-items: center;
          &:hover {
            cursor: pointer;
            background: #fff5e9;
          }
        }

      }
    }
  }
}



