$price: #181818;
$max-width: 1400px;
$mainTextColor: #969696;
$secondTextColor: silver;
$iconColor: #000;
$activeIconColor: orange;
$favoriteIcon: #050505;
$units: silver;
$orangeBackgroundColor: #ff520b;
$basketButtonColor: #27be0e;
$isAvailabale: #10be2c;
$articleColor: rgb(196, 196, 196);
$newVar: red;