.container {
  max-width: 1400px;
  margin: 0 auto;


  .row {


    position: relative;

    .categoryBar {
      position: absolute;
      width: 200px;
      height: 200px;
      background: #000;

    }
  }
}


.wrapper {
  width: 1400px;
  padding: 0;
  display: flex;
  margin: 40px auto 40px auto;

  .propositions {

    height: 360px;
    overflow: hidden;
    margin-left: 20px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    padding: 0;
    transition: .2s ease-in-out;
    cursor: pointer;

    img {
      width: 100%;
      transition: .2s ease-in-out;

      &:hover {
        transition: .2s ease-in-out;
        transform: scale(1.1);
      }

      object-fit: contain;
    }
  }

}
 